<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <ul id='links'>
    <% @links.each do |link| %>
      <li>
        Title: <%= link.title %>
        <br>
        url: <%= link.url %>
        <br>
        Tags: <%= link.tags %>
      </li>
    <% end %>
  </ul>
</body>
</html>
