<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <form method="post" action="/links/add_tags">
    <input type="text" name="tag">
    <input type="submit" value="Add tag">
  </form>
  <form method="get" action="/links">
    <input type="submit" value="Back to links">
  </form>
</body>
</html>
