<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <form method="post" action="/links">
    Title:
    <input type="text" name="title">
    <br>
    Url:
    <input type="text" name="url">
    <br>
    Tag:
    <input type="text" name="tag">
    <br>
    <input type="submit" value="Create new bookmark!">
  </form>
</body>
</html>
